/* ===== DAY 3 PROFESSIONAL UI ===== */

body{
margin:0;
font-family:Arial, sans-serif;

/* GRID BACKGROUND */
background-color:#0f172a;
background-image:
linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
background-size:40px 40px;

color:white;
}

/* MAIN */
.d3-main{
padding:40px;
}

/* HEADING */
.d3-heading{
font-size:24px;
margin-bottom:20px;
}

/* CARD */
.d3-card{
background:linear-gradient(145deg,#1e293b,#020617);
padding:20px;
border-radius:15px;

box-shadow:0 20px 50px rgba(0,0,0,0.6);

max-width:900px;
}

/* CANVAS */
canvas{
width:100% !important;
height:350px !important;
}

/* LAYOUT */
.container{
display:grid;
grid-template-columns:220px 1fr;
height:100vh;
}

/* SIDEBAR */
.sidebar{
background:#020617;
padding:20px;
}

.logo{
margin-bottom:30px;
}

.menu{
list-style:none;
padding:0;
}

.menu li{
margin:15px 0;
cursor:pointer;
color:#94a3b8;
}

.menu li:hover{
color:white;
}

/* MAIN */
.main{
display:flex;
flex-direction:column;
}

/* HEADER */
.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
border-bottom:1px solid rgba(255,255,255,0.1);
}

.search{
padding:10px;
border-radius:20px;
border:none;
background:#1e293b;
color:white;
}

img{
display:flex;
align-items:center;
gap:10px;
}

 img{
width:35px;
height:35px;
border-radius:50%;
}
/* MOBILE RESPONSIVE FIX */

@media(max-width:768px){
/* container single column */
.container{
grid-template-columns:1fr;
}

/* sidebar hide */
.sidebar{
display:block;
width: 100%;
}
.sidebar.active{
    left: 0;
}
/* header adjust */
.header{
flex-direction:row;
gap:10px;
align-items:center;
}

/* search full width */
.search{
width:100%;
}

/* profile align */
.profile{
width:100%;
justify-content:space-between;
}

/* content padding */
.content{
padding:15px;
}

/* chart size fix */
canvas{
height:250px !important;
}

}

/* FIX CHART CARD */
.card{
background:linear-gradient(145deg,#1e293b,#020617);
padding:10px; /* 20 se kam karo */
border-radius:15px;
overflow:hidden; /* IMPORTANT */
}

/* FIX CANVAS */
canvas{
width:100% !important;
height:260px !important;
}

/* MOBILE EXTRA FIX */
@media(max-width:768px){

.card{
padding:8px;
}

.content{
padding:10px;
}

}

/* FIX CHART CARD */
.card{
background:linear-gradient(145deg,#1e293b,#020617);
padding:10px; /* 20 se kam karo */
border-radius:15px;
overflow:hidden; /* IMPORTANT */
}

/* FIX CANVAS */
canvas{
width:100% !important;
height:260px !important;
}
